# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
uv.lock

# PyCharm, VS Code, and IDEs
.idea/
.vscode/
.cursorignore
.cursorindexingignore

# Project specific ignores
/video/
/snapshots/
/runs/
.antigravitycli/
*.avi
*.db
*.onnx
*.pt
cctv_config.json
